
.image{
	float: left;
	margin-top: -20px;
}

body{
	background : #edeceb;
	margin:0 auto;
	padding:0;
	width:1000px;
}

h1{
	text-align: center;
	color: black;
	font-family: Constantia;
	font-size: 250%;
}


.connexion {
	float: right;
	margin-top: -55px;
 	-webkit-border-radius: 25;
 	-moz-border-radius: 25;
 	border-radius: 25px;
 	-webkit-box-shadow: 0px 2px 3px #666666;
 	-moz-box-shadow: 0px 2px 3px #666666; 
 	box-shadow: 0px 2px 3px #666666;
  	font-family: Courier New;
  	color: #000000;
  	font-size: 16px;
  	background: #edeceb;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

#modifier{
	display: none;
}



.clear{
	clear:left;
}
#containListe{
	float:left;	
	width:420px;
}

#containForm{
	float:left;	
	margin-left:50px;
	position:fixe;
}

.connexion:hover {
  background: #bab4ba;
  text-decoration: none;
}


#contain h1{
	font-size:1.4em;
	text-align:left;
}

h2{
	font-size:1.3em;
	margin-left:15px;
}

h3{
	font-size:1.2em;
	margin-left:30px;
}

.divLibelle{
	margin:0 0 0 30px;
}

.space{
	margin-right:5px;
	float:left;
}


.rechercher {
	margin-top: 10px;
	margin-left: 5px;
 	-webkit-border-radius: 25;
 	-moz-border-radius: 25;
 	border-radius: 25px;
 	-webkit-box-shadow: 0px 2px 3px #666666;
 	-moz-box-shadow: 0px 2px 3px #666666; 
 	box-shadow: 0px 2px 3px #666666;
  	font-family: Courier New;
  	color: #000000;
  	font-size: 14px;
  	background: #edeceb;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

.rechercher:hover {
  background: #bab4ba;
  text-decoration: none;
}

#conteneur {
	width:1000px; 
	margin:0 auto;
}
	
#sidebar {
	width:200px;
	height:100%;
	background:#DBDEDD;
	float:left;
}
	
#contain{
	width:720px;
	margin:15px;
	float:left;
}

.textbox {
	float: left;
	margin-top: 8px;
	margin-left: 5px;
    height: 25px;
    width: 160px;
    border: 1px solid #B9BDC1;
    color: #797979;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.textbox:focus {
    background-color: #E7E8E7;
    outline: 0;
}

.search img{
	margin-top:8px;
}

#message{
	margin:15px 30px;
}
